.listCointainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.listWrapper {
  width: 100%;
  display: flex;
  gap: 20px;
}

.listSearch {
  flex: 1;
  background-color: orange;
  padding: 10px;
  position: sticky;
  top: 10px;
  height: max-content;
}

.listResult {
  flex: 3;
}

.listTitle {
  font-size: 20px;
  color: rgb(53, 53, 2);
  margin-bottom: 10px;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 10px;
}

.item > input {
  height: 30px;
  border: none;
  padding: 5px;
}

.item > span {
  height: 30px;
  padding: 5px;
  background-color: white;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.options {
  padding: 10px;
}

.optionItem {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  color: #666;
  font-size: 12px;
}

.optionInput {
  width: 50px;
}

.listSearch > button {
  padding: 10px;
  background-color: blueviolet;
  color: white;
  border: none;
  width: 100%;
  font-weight: 500;
  cursor: pointer;
}
