.header {
  height: 80px;
  background-color: rgb(19, 159, 184);
  display: flex;
  justify-content: center;
  position: relative;
  /* max-width: 1024px; */
  width: 100%;
}

.headerSearch {
  height: 40px;
  display: flex;
  align-items: center;
  background-color: yellow;
  border: 3px solid yellowgreen;
  justify-content: space-around;
  /* position: absolute; */
  width: 1000px;
  max-width: 1024px;
}

.headerDesc {
  padding-left: 100px;
  font-weight: 500;
  color: rgb(42, 12, 173);
}

.headerSearchText {
  color: black;
  cursor: pointer;
}

.headerSearchItem {
  display: flex;
  align-items: center;
  gap: 10px;
}

.headerSearchInput {
  border: none;
  outline: none;
}

.date {
  position: absolute;
  top: 50px;
}
